 /* Hide links ((tbyIlqD3o)) */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
    font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
    content: '🔗';
    font-size: 1rem;
}

/* Keeping styling consistent across selected and non-selected lines ((oCC21Ogb4)) */
    pre.HyperMD-header, .cm-header, .cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 { font-weight: 800; }
    pre.HyperMD-header-1 { font-size: 34px; line-height: 40px; }
    pre.HyperMD-header-2 { font-size: 26px; line-height: 32px; }
    pre.HyperMD-header-3 { font-size: 22px; line-height: 28px; }
    pre.HyperMD-header-4 { font-size: 20px; line-height: 24px; }
    pre.HyperMD-header-5 { font-size: 18px; line-height: 24px; }
    pre.HyperMD-header-6 { font-size: 18px; line-height: 24px; color: var(--text-muted); }


    
span.cm-formatting-task { display: inline !important; font-family: "Andale Mono"; letter-spacing: -2.5px;}
/* span.cm-formatting-task.cm-property {color: lightgreen;} */

.CodeMirror-line span.cm-formatting-task.cm-meta,
.CodeMirror-line span.cm-formatting-task.cm-property,
.CodeMirror-line span.cm-formatting-list-ul.ol-to-do {
    color: transparent;
    position: relative;
}

/* .CodeMirror-line span.cm-formatting-task.cm-meta:after,
.CodeMirror-line span.cm-formatting-task.cm-property:after {
    content: "○";
    position: absolute;
    top: 0px;
    left: 3px;
    color: var(--text-normal);
    font-size: 28px;
}

.CodeMirror-line span.cm-formatting-task.ol-to-do-undone.cm-meta:after,
.CodeMirror-line span.cm-formatting-task.ol-to-do-undone.cm-property:after {
    content: "○";
}
.CodeMirror-line span.cm-formatting-task.ol-to-do-isdone.cm-meta:after,
.CodeMirror-line span.cm-formatting-task.ol-to-do-isdone.cm-property:after {
    content: "●";
} */

span.cm-formatting-task { display: inline !important; font-family: "Andale Mono"; letter-spacing: -2.5px;}
/* span.cm-formatting-task.cm-property {color: lightgreen;} */

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-meta,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property {
    color: transparent;
    position: relative;
}

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-meta:after,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property:after {
    content: "☐";
    position: absolute;
    top: 0px;
    left: 3px;
    color: var(--text-normal);
    font-size: 28px;
}

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property:after {
    content: "☑";
    color: lightgreen !important;
}

/* Hide Bold, Italic, Strikethrough Syntax */    
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-strong,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-em,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-strikethrough,
{ display: none; }